html{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    }

h2, p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo{
    background-image: url("./images/saved_resource.png");
    background-size: cover;
    min-height:75px;
    min-width: 75px;
}

.banner{
    background-image: url("./images/TGCBannerL.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 680px;
    width: 95%;
    object-fit: contain;
    position: relative;
}

.sale-banner{
    background-color: rgb(124, 6, 6);
    background-size: 1000px;
}

#toffee-featured{
    background-image: url("./images/toffee-featured.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    min-width: 300px;
}

#clusters-featured{
    background-image: url("./images/clusters-featured.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    min-width: 300px;
}

#gift-ideas{
    background-image: url("./images/gift-banner.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
    padding: 40px;
}

#about-us-image{
    background-image: url("./images/about-us.jpg");
    background-size: cover;
    background-position: center;
    width: 90%;
    min-height: 400px;
    margin: 30px;
    object-fit: cover;
}

.featured-row, .locations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#map-image{
    background-image: url("./images/location-image.png");
    background-size: cover;
    background-position: center;
    width: 60%;
    min-height: 400px;
    margin: 30px;
}

#fb-logo{
    background-image: url("./images/fb.png");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    margin-right: 60px;
}

#insta-logo{
    background-image: url("./images/insta.png");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    margin-left: 60px;
}

#article-link1{
    background-image: url("./images/wral-com-vector-logo.png");
    background-size: cover;
    background-position: center;
    min-width: 400px;
    min-height: 80px;
    margin-left: 60px;
}

#article-link2{
    background-image: url("./images/wake-med-logo.png");
    background-size: cover;
    background-position: center;
    min-width: 325px;
    min-height: 80px;
    margin-left: 60px;
}

#shop-now{
    position: absolute;
    color: #fff;
    padding: 12.5px 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 2px;
    font-family: sans-serif;
    background-color: rgb(124, 6, 6); 
    border-color:grey; 
    width: 20%; 
    height:10%; 
    position:"absolute"; 
    bottom: 300px;
    left: 12%;
}

 #shop-now:hover{
    background-color: rgb(187, 74, 97);
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

#clusters-featured:hover{
    background: url("./images/clusters-featured.jpg"), rgba(128, 128, 128, 0.144);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    opacity: 0.3;
}

#toffee-featured:hover{
    background: url("./images/toffee-featured.jpg"), rgba(128, 128, 128, 0.144);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    min-width: 300px;
    opacity: 0.3;
}

#shop-now-mobile{
    display: none;
}
#mobile-buttonDiv{
    display: none;
}

@media only screen and (max-width: 800px) {
    html{
        object-fit: contain;
        box-sizing: border-box;
    }
    .dashboard{
        display: flex;
        flex-direction: column;
        position: center;
    }
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("./images/TGCMobileMedium.png");
        background-size: auto;
        background-position: center;
        position: relative;
    }
    .logo-menu{
        display: none;
    }
    #footer, #footer-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #mobile-buttonDiv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #shop-nowMobile {
        /* bottom: 10px;
        left: 40%; */
        text-align: center;
        position: center;
        color: #fff;
        padding: 12.5px 30px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 2px;
        font-family: sans-serif;
        background-color: rgb(124, 6, 6); 
        border-color:grey; 
        width: 40%; 
        height:40%; 
    }
    #shop-now{
        display: none;
    }
    #articles{
        flex-direction: column;
        padding: 10px;
        position: center;
        margin: 10px;
        overflow-x: scroll;
    }
   #social-media{
        flex-direction: column;
        position: center;
        align-items: center;
    }

    #article-link1, #article-link2{
        margin: 10% 0px;
        position: center;
        min-width: 300px;
        object-fit: scale-down;
        overflow-x: scroll;
    }

    #fb-logo, #insta-logo{
        margin: 10%;
    }
    #gift-ideas, #gift-header{
        display: none;
    }
    .featured-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-us-image{
        display: none;
    }
}